.sticky-header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
}
.header {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
  position: relative;
}
.header .header-heading {
  width: 50%;
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-heading:hover {
  background-color: var(--hoverColor);
}
.header .underline-line {
  position: absolute;
  bottom: 0;
  left: 115px;
  width: 70px;
  height: 5px;
  border-radius: 999px;
  background-color: var(--blueColor);
  transition: all 0.3s ease;
}
