.tweet {
  padding: 15px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--borderColor);
  cursor: pointer;
}
.tweet .tweet-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tweet-content .tweet-head {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.tweet-head .name {
  font-size: 16px;
  font-weight: 600;
}
.tweet-head .name:hover {
  text-decoration: underline;
}
.tweet-head i {
  font-size: 12px;
  color: var(--blueColor);
}
.tweet-head .username {
  font-size: 14px;
  color: var(--lightGrey);
}
.tweet-head .time {
  font-size: 14px;
  color: var(--lightGrey);
}
.tweet-head .time::before {
  content: ". ";
}
.tweet-content .tweet-text {
  font-size: 14px;
  width: 100%;
}
.tweet-text img {
  width: 100%;
  max-height: 500px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.tweet-content .tweet-buttons {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}
.tweet-buttons .tweet-button-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tweet-buttons .tweet-button-box label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tweet-button-box i {
  font-size: 14px;
  color: var(--lightGrey);
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.tweet-button-box:hover i.fa-comment,
.tweet-button-box:hover i.fa-chart-simple,
.tweet-button-box:hover i.fa-bookmark,
.tweet-button-box:hover i.fa-arrow-up-from-bracket {
  background-color: rgba(0, 153, 255, 0.2);
  color: #1d9bf0;
}
.tweet-button-box:hover i.fa-retweet {
  background-color: rgba(0, 184, 123, 0.2);
  color: #00ba7c;
}
.tweet-button-box:hover i.fa-heart {
  background-color: rgba(249, 26, 130, 0.2);
  color: #f91880;
}
.tweet-button-box .tweet-buttons-numbers {
  margin-left: 3px;
  font-size: 12px;
  color: var(--lightGrey);
  transition: all 0.3s ease;
}
.tweet-button-box:hover .tweet-buttons-numbers {
  color: #1d9bf0;
}
.tweet-button-box:hover .retweet-numbers {
  color: #00ba7c;
}
.tweet-button-box:hover .like-numbers {
  color: #f91880;
}
