.main-container {
  width: 100%;
  display: flex;
}
.left-side {
  width: 25%;
  position: fixed;
  left: 0;
  z-index: 1;
}
.container {
  display: flex;
  width: 75%;
  margin-left: 25%;
  z-index: 0;
}
.center-side {
  width: 600px;
  border-right: 1px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  min-height: 100vh;
}
.right-side {
  width: calc(100% - 600px);
  position: fixed;
  margin-left: 600px;
  height: 100vh;
  overflow: auto;
  padding-bottom: 30px;
}
.right-side .right-side-inner {
  width: 350px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-side-inner .search-box {
  position: sticky;
  top: 0;
  background-color: #000;
}
