@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    @apply border-border border-b-accent mx-auto my-10 size-7 animate-spin rounded-full border-[3px];
  }
  .text-field {
    @apply border-border focus:border-accent focus:ring-accent border ring-1 ring-transparent;
  }
  .cross-btn {
    @apply text-accent bg-primaryBg hover:bg-hoverBg absolute left-1.5 top-1.5 rounded-full p-2;
  }
  .profile-name {
    @apply text-15 text-primaryTxt w-fit font-bold;
  }
  .profile-username {
    @apply text-15 text-secondryTxt font-regular w-fit;
  }
  .form-btn {
    @apply flex-center transition-200 text-secondryTxt hover:bg-accent/20 size-7 cursor-not-allowed rounded-full opacity-50;
  }
  .tweet-btn {
    @apply transition-200 hover:bg-blue/30 text-secondryTxt rounded-full p-1;
  }
  .tweet-btn-txt {
    @apply text-secondryTxt text-13 group-hover:text-pink transition-200;
  }
  .disabled {
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }
  .menu-item {
    @apply transition-200 text-15 hover:bg-hoverBg/60 flex items-center gap-3 px-4 py-3 text-left font-bold;
  }
  .transition-menu {
    @apply bg-primaryBg shadow-twitter flex flex-col rounded-lg transition duration-150 ease-out data-[closed]:scale-95 data-[closed]:opacity-0;
  }
}

@layer base {
  [tooltip] {
    @apply relative;
  }
  [tooltip]:after {
    @apply transition-300 invisible absolute -bottom-7 left-1/2 z-0 -translate-x-1/2 whitespace-nowrap rounded-[4px] bg-[#485a68] px-1 py-0.5 text-[11px] text-white shadow-xl content-[attr(tooltip)];
  }
  [tooltip]:hover::after {
    @apply transition-300 delay-500 md:visible;
  }
  [aria-current="page"] {
    @apply font-bold;
  }
  input::placeholder,
  textarea::placeholder {
    @apply font-chirp text-secondryTxt;
  }
}

:root {
  --accentColor: 29 155 240;

  --primaryTxt: 231 233 234;
  --secondryTxt: 113 118 123;
  --primaryBg: 0 0 0;
  --secondryBg: 33 35 39;
  --hoverBg: 23 23 23;
  --borderColor: 47 51 54;
  --popupBg: rgb(91 112 131 / 0.4);
}
[theme-mode="light"] {
  --primaryTxt: 15 20 25;
  --secondryTxt: 84 100 113;
  --primaryBg: 254 254 254;
  --secondryBg: 240 244 245;
  --hoverBg: 231 231 231;
  --borderColor: 239 243 244;
  --popupBg: rgb(0 0 0 / 0.4);
}
[theme-mode="dim"] {
  --primaryTxt: 231 233 234;
  --secondryTxt: 113 118 123;
  --primaryBg: 21 32 43;
  --secondryBg: 40 51 64;
  --hoverBg: 43 53 63;
  --borderColor: 47 51 54;
  --popupBg: rgb(91 112 131 / 0.4);
}
[theme-accent="green"] {
  --accentColor: 0 186 124;
}
[theme-accent="pink"] {
  --accentColor: 249 24 128;
}
[theme-accent="yellow"] {
  --accentColor: 255 213 0;
}
[theme-accent="purple"] {
  --accentColor: 120 87 255;
}
[theme-accent="orange"] {
  --accentColor: 255 123 0;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  margin-left: 5px;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%231D9BF0" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>');
}
